<div class="container">
  <div class="row">
    <div class="well">
    	<div class="text-right">
      	<%= link_to 'Show', @album %> |
  		  <%= link_to 'Back', albums_path %>
		  </div>
		  <h1 class="text-center">Album Application</h1><br>
    	<div class="row centered-form">
        <!-- <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4"> -->
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title text-center"><strong>Editing Album</strong></h1>
            </div>
            <div class="panel-body text-center">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
