<div class="container">
	<div class="row">
  		<div class="well">
			<div class="text-right">
				<%= link_to 'Back', album_images_path %>
			</div>
			<h1 class="text-center">Album Application</h1><br><br>
			<div class="row centered-form">
		  		<div class="col-xs-12 col-sm-6 col-md-8 col-sm-offset-2 col-md-offset-2">
			  		<div class="login-panel panel panel-default">
				        <div class="panel-heading">
				        	<h1 class="panel-title text-center"><strong>New Image</strong></h1>
				      	</div>
				      	<div class="panel-body text-center">
				    	  	<div class="row">
	                    		<div class="col-xs-6 col-sm-12 col-md-12">
									<%= render 'form' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>